# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/assets/images/elction image - Google Search_files/m=nMfLA,O19q8,UMk45c,bplExb,xMHx5e,o7oVhd,R6UkWb,tW711b,UX8qee,tDA9G,dMJ4he,sy66g,syoa,sy2hp,sy2hm,sy2g2,syo9,sy2g1,sy1xh,sy1bc,sy1ba,sy1bk,sy1b8,sy1gy,sy1bg,sy1bd,sy1b9,sy1be,sy1pm,sy1pn,sy1po,sy1kn,sy1ko,sy1kp,sy1kc,sy3l1,sy2fz,sy1b6,syu9,syp2,syoz,syow
/assets/images/elction image - Google Search_files/m=RyvaUb,n73qwf,mI3LFb,MpJwZc,IZT63,RDV3Nb,lts3Re,P9vDhc,szFNKc,coOdHc,L919Z,fkGYQb,lazG7b,PrPYRd,KCQMBc,Kg1rBc,nQze3d,Wq6lxf,mdR7q,Rr5NOe,fz5ukf,SRsBqc,MI6k7c,kjKdXe,hKSk3e,X8lTKe,Gi5Toe,gpa7Te,luWJre
/assets/images/elction image - Google Search_files/m=sb_wiz,aa,abd,sy1pc,async,sy29l,bgd,sy96w,foot,sy3zs,kyn,sy1xg,sy2xb,lli,sy3ko,sy3kp,sy6ed,sonic,syhk,sy5bc,sy1pf,sy1pi,sy1pj,spch,tl,sy5sq,sy5so,sy18m,sy5sp,sy187,EkevXb,sy1fw,SMquOb,sy1g1,sy1fy,sy1g0,d5EhJe,sy2mw,sy2mv,sy2mu,sy2mt,sy2mr,sy1gr,sy1zb,sy
/assets/images/elction image - Google Search_files/m=sy1c0,A7ULAd,sy3fo,sy2y9,sy1x5,sy1x4,cNgdQc,K02r3e,sy5o9,sy3nq,sy1c8,qKrDxc,sy7oh,sy2f5,Z2vhDb,sy1fp,sy1fo,sy1fn,sy1ff,sy1fm,sy1fi,sy1fh,sy1f0,sy1f2,sy1ep,sy1f3,sy1fa,sy1f6,sy1f9,sy1f8,sy1f5,sy1ex,sy1ey,sy1eh,sy1f1,sy1fl,sy1fk,sy1fd,sy1ek,sy1ej,sy1el,sy
/assets/images/elction image - Google Search_files/m=UUJqVe,yemSVb,btdpvd,al77M,hhzCmb,owCJwd,XLJdke,ArLkNc,IiC5yd,e7Hzgb,cj77d,N3wSKe,MI2fVb,i4bkXc,b6vcbb,W0fpg,NoECLb,UFZhBc,aIe7ef,I6YDgd,DJOkZc,ObWLec,BH8ISb,MnVV2d,EU1dwe,UXfCNd,obXUHb,LmbeUd,nKrFPc,qoNFJd,EtZ8Cd,y0wzC,MkHyGd,vYwzYe,wk9bT,OZLguc,xBwK3,
